.jumbotron {
  background-color: #4EB7AD;
  color: white;
}

footer {
  background-color: #4EB7AD;
  color: white;
  padding: 48px 160px 0 160px;
  margin-top: 4rem;
}

footer a:hover {
  color: #138496;
  text-decoration: none;
}

a {
  color: white;
  margin-top: 16px;
  font-size: 1rem;
}

.cardH {
  -webkit-box-flex: 1;
      -ms-flex: 1 150px;
          flex: 1 150px;
  margin: .5rem .5rem;
  padding: .5rem .5rem;
}

button {
  width: 100%;
}

.clases h1 {
  text-align: center;
}

hr {
  background-color: #4EB7AD;
}

.cardZoo {
  -webkit-box-flex: 1;
      -ms-flex: 1 20em;
          flex: 1 20em;
  margin: .5rem .5rem;
  padding: 2rem 2rem;
  background-color: white;
  border-radius: 10px;
  text-align: justify;
}

.imagen {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
/*# sourceMappingURL=main.css.map */